<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888154099414-6u5ffu8p09ftrm9n55qhcb525rpiaamp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888154099414-6u5ffu8p09ftrm9n55qhcb525rpiaamp</string>
	<key>API_KEY</key>
	<string>AIzaSyDSxe6r1IOmCXupc0nZJZmp2N2_9SYMqhI</string>
	<key>GCM_SENDER_ID</key>
	<string>888154099414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taujiong.cherryHome</string>
	<key>PROJECT_ID</key>
	<string>cherry-home-bce94</string>
	<key>STORAGE_BUCKET</key>
	<string>cherry-home-bce94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888154099414:ios:5b30fae8c0e9f2952e8377</string>
</dict>
</plist>